<%- include('head.ejs') %>

    <body class="page-<%= page %>">
        <%- include('header.ejs') %>
            <main>
                <% let templateName=page; if (typeof subpage !=='undefined' ) { templateName=page + '-' + subpage; } %>
                    <%- include(templateName) %>
            </main>
            <%- include('nav.ejs') %>
    </body>

    </html>