<%- include('head.ejs') %>


    <body class="page-<%= page %>">
        <%- include('header.ejs') %>
            <main>
                <% if (page==='activities' ) { %>
                    <%- include('activities') %>
                        <% } else if (page==='chat' ) { %>
                            <%- include('chat') %>
                                <% } else if (page==='account' ) { %>
                                    <%- include('account') %>
                                        <% } else if (page==='buddy' ) { %>
                                            <%- include('buddy') %>
                                                <% } else if (page==='new-post' ) { %>
                                                    <%- include('new-post') %>
                                                        <% } else { %>
                                                            <%- include('activities') %>
                                                                <% } %>
            </main>
            <%- include('nav.ejs') %>
    </body>

    </html>